Host *
	HashKnownHosts no

Host *.home.iseja.net *.dir.iseja.net
	GSSAPIAuthentication yes
	GSSAPIDelegateCredentials yes

{{ if eq .chezmoi.os "darwin" -}}
# macOS contents
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}
